
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    background-color: #D2DEEC;
    font-size: 1.6rem;
}

body * {
    font-family: "Public Sans", sans-serif;
    /* border: solid 1px red; */
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    width: 90rem;
    height: 60rem;
    box-shadow: 0.8rem 0.8rem 3rem #a5b5c7;
    border-radius: 1rem;
    background-color: #ffffff;
    display: flex;
}

.left-login {
    width: 50rem;
    height: 100%;
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    padding: 4rem 5rem;
}

.img-logo {
    width: 13rem;
    margin-bottom: 5.5rem;
}

.left-login h1{
    color: #ffffff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 6.5rem;
    margin-bottom: 3rem;
}
.left-login p{
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 200;
}

.right-login {
    padding: 2rem ;
    width: 45rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-login h1{
    font-size: 4.5rem;
}

.box-login {
    width: 100%;
}

/* (input */

.label {
    margin-bottom: 0.7rem;
}

.box-input {

    display: flex;
    flex-direction: column
}

.input {
    padding: 1rem 1.5rem;
    border: .2rem solid transparent;
    width: 25rem;
    height: 5.3rem;
    padding-left: 1rem 1.5em;
    outline: none;
    overflow: hidden;
    background-color: #E8F0FE;
    border: .2rem solid #0244F5;
    border-radius: 1rem;
    transition: all 0.5s;
    box-shadow: .1rem .1rem .7rem #b3bcd4;
    margin-bottom: .8rem;
}
  
.input:hover,
.input:focus {
    border: .2rem solid #0244F5;
    box-shadow: 0rem 0rem 0rem 0.7rem rgba(74, 157, 236, 20%);
    background-color: white;
}


.input-group {
    display: flex;
    flex-direction: column;
}
/* input) */
/*(botão  */

.box-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

button {
    cursor: pointer;
    padding: 1.2rem 3rem;
    border: 0;
    border-radius: 1rem;
    background-color: #0244F5;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
button:hover {
    background-color: #6991ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
  
button:active {
    background-color: #a7beff;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}


.titulo-box-card {
    display: flex;
}


/* botão )*/

.box-button a{
    color: #0244F5;
    text-decoration: none;
}

@media screen and (max-width: 935px) {
    .left-login{
        display: none;
    }
    
    .conteiner {
        width: 45rem;
    }

}

@media screen and (max-width: 490px) {

    .conteiner {
        width: 35rem;
    }
}
